<ul id="social">
    <% for (let [key, value] of Object.entries(links)) { %>
    <li><%- key %>
        <ul id="<%- key %>">
        <% value.forEach(function(info) { %>
            <li id="<%- info.name.toLowerCase() %>">
                <a href="<%- info.href %>"><%- info.name %></a>
            </li>
        <% }); %>
        </ul>
    <% }; %>
</ul>